<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdcplus.statement.mapper.VendorQuestionBankMapper">

    <resultMap type="com.xdcplus.statement.common.pojo.entity.VendorQuestionBank" id="VendorQuestionBankMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="templateName" column="template_name" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="balance" column="balance" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="scoreScope" column="score_scope" jdbcType="VARCHAR"/>
        <result property="score" column="score" jdbcType="VARCHAR"/>
        <result property="finalScore" column="final_score" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="VARCHAR"/>
        <result property="result" column="result" jdbcType="VARCHAR"/>
        <result property="response" column="response" jdbcType="VARCHAR"/>
        <result property="insDesc" column="ins_desc" jdbcType="VARCHAR"/>
        <result property="ifPass" column="if_pass" jdbcType="INTEGER"/>
        <result property="ifForce" column="if_force" jdbcType="INTEGER"/>
        <result property="ifAttachment" column="if_attachment" jdbcType="INTEGER"/>
        <result property="attachmentName" column="attachment_name" jdbcType="VARCHAR"/>
        <result property="attachmentUrl" column="attachment_url" jdbcType="VARCHAR"/>
        <result property="createdUser" column="created_user" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="INTEGER"/>
        <result property="updatedUser" column="updated_user" jdbcType="VARCHAR"/>
        <result property="updatedTime" column="updated_time" jdbcType="INTEGER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--通过实体作为筛选条件查询-->
    <select id="queryVendorQuestionBank" resultMap="VendorQuestionBankMap">
        select
          id, template_name, type, name, balance, content, score_scope, score, final_score, level, result, response, ins_desc, if_pass, if_force, if_attachment, attachment_name, attachment_url, created_user, created_time, updated_user, updated_time, description, version, deleted, parent_id
          from scm_vendor_question_bank
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="templateName != null and templateName != ''">
                and template_name = #{templateName}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="balance != null and balance != ''">
                and balance = #{balance}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
            <if test="scoreScope != null and scoreScope != ''">
                and score_scope = #{scoreScope}
            </if>
            <if test="score != null and score != ''">
                and score = #{score}
            </if>
            <if test="finalScore != null and finalScore != ''">
                and final_score = #{finalScore}
            </if>
            <if test="level != null and level != ''">
                and level = #{level}
            </if>
            <if test="result != null and result != ''">
                and result = #{result}
            </if>
            <if test="response != null and response != ''">
                and response = #{response}
            </if>
            <if test="insDesc != null and insDesc != ''">
                and ins_desc = #{insDesc}
            </if>
            <if test="ifPass != null">
                and if_pass = #{ifPass}
            </if>
            <if test="ifForce != null">
                and if_force = #{ifForce}
            </if>
            <if test="ifAttachment != null">
                and if_attachment = #{ifAttachment}
            </if>
            <if test="attachmentName != null and attachmentName != ''">
                and attachment_name = #{attachmentName}
            </if>
            <if test="attachmentUrl != null and attachmentUrl != ''">
                and attachment_url = #{attachmentUrl}
            </if>
            <if test="createdUser != null and createdUser != ''">
                and created_user = #{createdUser}
            </if>
            <if test="createdTime != null">
                and created_time = #{createdTime}
            </if>
            <if test="updatedUser != null and updatedUser != ''">
                and updated_user = #{updatedUser}
            </if>
            <if test="updatedTime != null">
                and updated_time = #{updatedTime}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
            <if test="version != null">
                and version = #{version}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
        </where>
    </select>

</mapper>

