<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdcplus.workflow.mapper.DiscussGroupRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xdcplus.workflow.common.pojo.entity.DiscussGroupRelation">
        <id column="id" property="id" />
        <result column="group_id" property="groupId" />
        <result column="to_user" property="toUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, group_id, to_user
    </sql>

    <select id="findRelationByGroupId" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from xdc_t_discuss_group_relation
        where group_id = #{groupId,jdbcType=BIGINT}
    </select>
</mapper>